@font-face {
  font-family: "bilibili-helper-2-iconfont"; /* Project id 1690169 */
  src: url('iconfont.woff2?t=1692312476391') format('woff2'),
       url('iconfont.woff?t=1692312476391') format('woff'),
       url('iconfont.ttf?t=1692312476391') format('truetype');
}

.bilibili-helper-2-iconfont {
  font-family: "bilibili-helper-2-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bilibili-helper-2-icon-acghelper:before {
  content: "\e6bc";
}

.bilibili-helper-2-icon-shrink:before {
  content: "\e6b8";
}

.bilibili-helper-2-icon-expand:before {
  content: "\e6b9";
}

.bilibili-helper-2-icon-scroll:before {
  content: "\e6b7";
}

.bilibili-helper-2-icon-record:before {
  content: "\e6b6";
}

.bilibili-helper-2-icon-stop:before {
  content: "\e6a2";
}

.bilibili-helper-2-icon-retry:before {
  content: "\e6a3";
}

.bilibili-helper-2-icon-share1:before {
  content: "\e6a4";
}

.bilibili-helper-2-icon-pause:before {
  content: "\e6a5";
}

.bilibili-helper-2-icon-down:before {
  content: "\e6a7";
}

.bilibili-helper-2-icon-delete2:before {
  content: "\e6a8";
}

.bilibili-helper-2-icon-play:before {
  content: "\e6a9";
}

.bilibili-helper-2-icon-next:before {
  content: "\e6aa";
}

.bilibili-helper-2-icon-prev:before {
  content: "\e6ab";
}

.bilibili-helper-2-icon-bilibili-music:before {
  content: "\e6ac";
}

.bilibili-helper-2-icon-volume-muted:before {
  content: "\e6ad";
}

.bilibili-helper-2-icon-volume:before {
  content: "\e6ae";
}

.bilibili-helper-2-icon-playing:before {
  content: "\e6af";
}

.bilibili-helper-2-icon-orderList:before {
  content: "\e6b0";
}

.bilibili-helper-2-icon-loop:before {
  content: "\e6b1";
}

.bilibili-helper-2-icon-loopOne:before {
  content: "\e6b2";
}

.bilibili-helper-2-icon-random:before {
  content: "\e6b3";
}

.bilibili-helper-2-icon-right-dashed:before {
  content: "\e6b4";
}

.bilibili-helper-2-icon-star:before {
  content: "\e6b5";
}

.bilibili-helper-2-icon-file:before {
  content: "\e6a1";
}

.bilibili-helper-2-icon-cloud-download:before {
  content: "\e6a0";
}

.bilibili-helper-2-icon-zoomIn:before {
  content: "\e69f";
}

.bilibili-helper-2-icon-bigData:before {
  content: "\e69e";
}

.bilibili-helper-2-icon-yes:before {
  content: "\e694";
}

.bilibili-helper-2-icon-no:before {
  content: "\e695";
}

.bilibili-helper-2-icon-wing-left:before {
  content: "\e692";
}

.bilibili-helper-2-icon-wing-right:before {
  content: "\e693";
}

.bilibili-helper-2-icon-link:before {
  content: "\e690";
}

.bilibili-helper-2-icon-share:before {
  content: "\e68f";
}

.bilibili-helper-2-icon-cat-tm:before {
  content: "\e68c";
}

.bilibili-helper-2-icon-cat-paw:before {
  content: "\e687";
}

.bilibili-helper-2-icon-announcement:before {
  content: "\e686";
}

.bilibili-helper-2-icon-patreon:before {
  content: "\e684";
}

.bilibili-helper-2-icon-afdian:before {
  content: "\e685";
}

.bilibili-helper-2-icon-account:before {
  content: "\e683";
}

.bilibili-helper-2-icon-love-hollow:before {
  content: "\e681";
}

.bilibili-helper-2-icon-love:before {
  content: "\e682";
}

.bilibili-helper-2-icon-bilibilihelper:before {
  content: "\e67d";
}

.bilibili-helper-2-icon-bilibili:before {
  content: "\e67b";
}

.bilibili-helper-2-icon-delete1:before {
  content: "\e679";
}

.bilibili-helper-2-icon-bottom-arrow:before {
  content: "\e677";
}

.bilibili-helper-2-icon-top-arrow:before {
  content: "\e678";
}

.bilibili-helper-2-icon-reduce:before {
  content: "\e676";
}

.bilibili-helper-2-icon-edit:before {
  content: "\e603";
}

.bilibili-helper-2-icon-add:before {
  content: "\e669";
}

.bilibili-helper-2-icon-minus:before {
  content: "\e67a";
}

.bilibili-helper-2-icon-ban:before {
  content: "\e675";
}

.bilibili-helper-2-icon-unlock:before {
  content: "\e672";
}

.bilibili-helper-2-icon-moon:before {
  content: "\e671";
}

.bilibili-helper-2-icon-sun:before {
  content: "\e670";
}

.bilibili-helper-2-icon-lock:before {
  content: "\e66f";
}

.bilibili-helper-2-icon-cat:before {
  content: "\e66d";
}

.bilibili-helper-2-icon-play-later:before {
  content: "\e66c";
}

.bilibili-helper-2-icon-close:before {
  content: "\e66b";
}

.bilibili-helper-2-icon-search:before {
  content: "\e66a";
}

.bilibili-helper-2-icon-tag:before {
  content: "\e668";
}

.bilibili-helper-2-icon-bell:before {
  content: "\e667";
}

.bilibili-helper-2-icon-delete:before {
  content: "\e666";
}

.bilibili-helper-2-icon-email:before {
  content: "\e665";
}

.bilibili-helper-2-icon-option:before {
  content: "\e664";
}

.bilibili-helper-2-icon-plus:before {
  content: "\e663";
}

.bilibili-helper-2-icon-right-arrow:before {
  content: "\e661";
}

.bilibili-helper-2-icon-left-arrow:before {
  content: "\e662";
}

