:root {
	--Ga0: #0d0d0e !important;
	--Ga0_s: #1e2022 !important;
	--Ga0_t: #1e2022 !important;
	--Ga1: #000 !important;
	--Ga1_s: #232527 !important;
	--Ga1_t: #232527 !important;
	--Ga1_e: #232527 !important;
	--Ga2: #2f3134 !important;
	--Ga2_t: #2f3134 !important;
	--Ga3: #46494d !important;
	--Ga3_t: #46494d !important;
	--Ga4: #5e6267 !important;
	--Ga4_t: #5e6267 !important;
	--Ga5: #757a81 !important;
	--Ga5_t: #757a81 !important;
	--Ga6: #8b9097 !important;
	--Ga6_t: #8b9097 !important;
	--Ga7: #a2a7ae !important;
	--Ga7_t: #a2a7ae !important;
	--Ga8: #b9bdc2 !important;
	--Ga8_t: #b9bdc2 !important;
	--Ga9: #d0d3d7 !important;
	--Ga9_t: #d0d3d7 !important;
	--Ga10: #e7e9eb !important;
	--Ga10_t: #e7e9eb !important;
	--Ga11: #242628 !important;
	--Ga12: #1f2022 !important;
	--Wh0: #17181a !important;
	--Wh0_t: #17181a !important;
	--Ba0: #000 !important;
	--Ba0_s: #fff !important;
	--Ba0_t: #000 !important;
	--Pi0: #26161c !important;
	--Pi1: #2f1a22 !important;
	--Pi2: #472030 !important;
	--Pi3: #76304b !important;
	--Pi4: #a73e65 !important;
	--Pi5: #d44e7d !important;
	--Pi5_t: #d44e7d !important;
	--Pi6: #dc6d94 !important;
	--Pi7: #e38caa !important;
	--Pi8: #ebabc1 !important;
	--Pi9: #f2cad8 !important;
	--Pi10: #fae9ef !important;
	--Ma0: #261525 !important;
	--Ma1: #2e182d !important;
	--Ma2: #461c43 !important;
	--Ma3: #72296c !important;
	--Ma4: #a13396 !important;
	--Ma5: #cb41bb !important;
	--Ma6: #d462c7 !important;
	--Ma7: #dd83d3 !important;
	--Ma8: #e6a4de !important;
	--Ma9: #efc5ea !important;
	--Ma10: #f8e6f6 !important;
	--Re0: #261314 !important;
	--Re1: #2e1617 !important;
	--Re2: #471a1c !important;
	--Re3: #742728 !important;
	--Re4: #a63131 !important;
	--Re5: #d1403e !important;
	--Re6: #d9615f !important;
	--Re7: #e18281 !important;
	--Re8: #e9a3a2 !important;
	--Re9: #f1c5c4 !important;
	--Re10: #f9e5e5 !important;
	--Or0: #28180f !important;
	--Or1: #301b10 !important;
	--Or2: #4a230e !important;
	--Or3: #783610 !important;
	--Or4: #a9490d !important;
	--Or5: #d66011 !important;
	--Or6: #dd7c3a !important;
	--Or7: #e49764 !important;
	--Or8: #ebb38d !important;
	--Or9: #f2ceb6 !important;
	--Or10: #faeadf !important;
	--Ye0: #2a1e0f !important;
	--Ye1: #342410 !important;
	--Ye2: #4d300b !important;
	--Ye3: #7c4c08 !important;
	--Ye4: #ad6800 !important;
	--Ye5: #db8700 !important;
	--Ye6: #e19c2c !important;
	--Ye7: #e7b158 !important;
	--Ye8: #eec584 !important;
	--Ye9: #f4dab1 !important;
	--Ye10: #faefdd !important;
	--Ly0: #2a2310 !important;
	--Ly1: #332a11 !important;
	--Ly2: #49390c !important;
	--Ly3: #745909 !important;
	--Ly4: #a27c00 !important;
	--Ly5: #cca000 !important;
	--Ly6: #d5b02c !important;
	--Ly7: #dec158 !important;
	--Ly8: #e7d184 !important;
	--Ly9: #efe2b1 !important;
	--Ly10: #f8f2dd !important;
	--Lg0: #19220f !important;
	--Lg1: #1e2911 !important;
	--Lg2: #273c0e !important;
	--Lg3: #3c600f !important;
	--Lg4: #50840b !important;
	--Lg5: #67a70e !important;
	--Lg6: #81b638 !important;
	--Lg7: #9cc562 !important;
	--Lg8: #b6d58b !important;
	--Lg9: #d0e4b5 !important;
	--Lg10: #ebf3df !important;
	--Gr0: #102017 !important;
	--Gr1: #11271b !important;
	--Gr2: #123923 !important;
	--Gr3: #175c34 !important;
	--Gr4: #198042 !important;
	--Gr5: #1fa251 !important;
	--Gr6: #46b26f !important;
	--Gr7: #6dc28d !important;
	--Gr8: #93d2ab !important;
	--Gr9: #bae2c9 !important;
	--Gr10: #e1f3e8 !important;
	--Cy0: #0c1f20 !important;
	--Cy1: #0d2627 !important;
	--Cy2: #093739 !important;
	--Cy3: #085b5c !important;
	--Cy4: #028080 !important;
	--Cy5: #03a29f !important;
	--Cy6: #2fb2b0 !important;
	--Cy7: #5ac2c0 !important;
	--Cy8: #86d2d1 !important;
	--Cy9: #b2e2e1 !important;
	--Cy10: #ddf3f3 !important;
	--Lb0: #0a1b23 !important;
	--Lb1: #0b202a !important;
	--Lb2: #082d40 !important;
	--Lb3: #064a69 !important;
	--Lb4: #006996 !important;
	--Lb5: #0087bd !important;
	--Lb6: #2c9cc8 !important;
	--Lb7: #58b1d4 !important;
	--Lb8: #84c5df !important;
	--Lb9: #b1dbeb !important;
	--Lb10: #ddeff6 !important;
	--Bl0: #151826 !important;
	--Bl1: #181c2f !important;
	--Bl2: #1f2748 !important;
	--Bl3: #2e3c76 !important;
	--Bl4: #3b53a8 !important;
	--Bl5: #4b6bd4 !important;
	--Bl6: #6a85db !important;
	--Bl7: #899ee3 !important;
	--Bl8: #a9b8ea !important;
	--Bl9: #c8d2f2 !important;
	--Bl10: #e7ebf9 !important;
	--Pu0: #1d1628 !important;
	--Pu1: #221a31 !important;
	--Pu2: #31214c !important;
	--Pu3: #4e317d !important;
	--Pu4: #6d3fb1 !important;
	--Pu5: #8c50e0 !important;
	--Pu6: #a06ee5 !important;
	--Pu7: #b48deb !important;
	--Pu8: #c8abf0 !important;
	--Pu9: #dbc9f5 !important;
	--Pu10: #f0e8fb !important;
	--Br0: #211d1b !important;
	--Br1: #282320 !important;
	--Br2: #382f2a !important;
	--Br3: #59483f !important;
	--Br4: #7a6154 !important;
	--Br5: #9a7c6a !important;
	--Br6: #ac9384 !important;
	--Br7: #bda99e !important;
	--Br8: #cebfb7 !important;
	--Br9: #e0d7d1 !important;
	--Br10: #f2eeeb !important;
	--Si0: #212325 !important;
	--Si1: #27292c !important;
	--Si2: #36393f !important;
	--Si3: #535962 !important;
	--Si4: #6f7987 !important;
	--Si5: #8c99aa !important;
	--Si6: #a0abb9 !important;
	--Si7: #b4bcc7 !important;
	--Si8: #c8ced6 !important;
	--Si9: #dce0e5 !important;
	--Si10: #f0f2f4
}
